---
import { Github } from "@lucide/astro";
const projects = [
  {
    title: "MindNest",
    description:
      "An all-in-one productivity tool to organize thoughts and tasks seamlessly.",
    gradient: "from-blue-500 to-purple-600",
    link: "https://github.com/XilefEel/MindNest",
    tech: ["React", "Rust", "Tauri"],
  },
  {
    title: "Nemos",
    description: "A mobile app to help solve injustice",
    gradient: "from-green-500 to-teal-600",
    link: "https://github.com/XilefEel/Insecticide",
    tech: ["Flutter", "Dart", "Firebase"],
  },
  {
    title: "Insecticide",
    description: "A platformer game where you shoot down insects",
    gradient: "from-orange-500 to-red-600",
    link: "https://github.com/G3310-dev/Nemos",
    tech: ["Python", "Pygame"],
  },
];
---

<section id="projects" class="py-24 px-8 bg-white">
  <div class="max-w-6xl mx-auto">
    <h3 class="text-4xl font-bold mb-12 text-center">Featured Projects</h3>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-8">
      {
        projects.map((project) => (
          <div class="bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition">
            <div class={`h-48 bg-linear-to-br ${project.gradient}`} />
            <div class="p-6">
              <h3 class="text-xl font-semibold mb-2">{project.title}</h3>
              <p class="text-gray-600 text-sm mb-4">{project.description}</p>

              <div class="flex justify-between items-center">
                <div class="flex flex-wrap gap-2 ">
                  {project.tech.map((tech) => (
                    <span class="text-xs bg-purple-100 text-purple-600 px-3 py-1 rounded-full">
                      {tech}
                    </span>
                  ))}
                </div>
                <div>
                  <a href={project.link}>
                    <Github class="w-6 h-6 text-purple-500 hover:text-purple-700 transition cursor-pointer duration-100" />
                  </a>
                </div>
              </div>
            </div>
          </div>
        ))
      }
    </div>
  </div>
</section>
